<div class="mx-auto py-6 ">
  <% elements.each do |element| %>
    <div id= "checklist" >
      <input id="<%= element.id %>" type="checkbox" name="r"  class="check" data-action="list#updateElement"
                    data-list-target="list.checked"
                    <% if element.checked %> checked <% end %> >
      <label id="<%= element.id%>" for="<%= element.id%>" ><%= element.quantity %>        <%= element.name %></label>
    </div>
  <% end %>
</div>

