<h1 class="text-xl font-medium">Nos listes</h1>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.title %></td>

        <td><%= link_to 'Voir la liste', list %></td>
        <%= link_to(content_tag(:i, nil, class: 'far fa-edit'), edit_list_path(list)) %>
        <%= link_to list_path(list), method: :delete, data: { confirm: "Êtes-vous sûr?" } do %>
          <i class="far fa-trash-alt destroy_list"></i>
        <% end %>
    </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Ajouter une liste', new_list_path %>
