<%= simple_form_for(@idea) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mx-40">
    <%= f.input :title, label: 'Titre' %>
    <%= f.input :content, label: 'Description' %>
    <%= f.input :project, label: "C'est un projet?"%>
    <%= f.input :project_type, label: 'Type de projet' %>
  </div>

  <div class="form-actions mx-40 text-right mb-20">
    <%= f.button :submit, 'Valider' %>
  </div>
<% end %>
