

<h1 class="text-xl font-medium">
  <%= @task.title %>
</h1>

<p>
  <strong>Content:</strong>
  <%= @task.content %>
</p>

<p>
  <strong>Limited date:</strong>
  <%= @task.limited_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @task.user_id %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
