<div class=" rounded-md h-screen flex-col justify-between">
  <div class="bg-color h-full">
    <div class="flex  justify-center py-10 pr-4">
      <div class="pl-2 flex">
        <% if current_user.avatar.nil?%>
        <% else %>
          <%= image_tag current_user.avatar , class: "avatar"%>
        <% end %>
        <p id="titlenav" class="text-3xl align-middle font-bold ">Planify</h1>
      </div>
    </div>
    <div class="pl-8">
      <ul class="space-y-8 pt-10">
        <li class="flex space-x-4 items-center active:textColor-white-700 ">
          <ion-icon name="grid-outline"></ion-icon>
          <%= link_to "Accueil", root_path, id: "nav" %>
        </li>
        <li class="flex space-x-4 items-center">
          <ion-icon name="list-outline"></ion-icon>
          <%= link_to "Tâches", tasks_path, id: "nav" %>
        </li>
        <li class="flex space-x-4 items-center">
          <ion-icon name="checkbox-outline"></ion-icon>
          <%= link_to "Listes", lists_path, id: "nav" %>
        </li>
        <li class="flex space-x-4 items-center">
          <ion-icon name="bulb-outline"></ion-icon>
          <%= link_to "Idées", ideas_path, id: "nav" %>
        </li>
        <li class="flex space-x-4 items-center">
          <ion-icon name="calendar-outline"></ion-icon>
          <%= link_to "Planning", root_path, id: "nav" %>
        </li>
        <li class="flex space-x-4 items-center">
          <ion-icon name="chatbubbles-outline"></ion-icon>
          <%= link_to "Messages", root_path, id: "nav" %>
        </li>
        <li class="flex space-x-4 items-center">
          <ion-icon name="settings-outline"></ion-icon>
          <%= link_to "Paramètres", root_path, id: "nav" %>
        </li>
        <li>
          <%= link_to "Sign in", new_user_session_path %>
        </li>
        <li>
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </li>
      </ul>
    </div>
  </div>
</div>
